.contact{
    margin-top: 100px; 
    background: linear-gradient(38.73deg, rgba(204, 0, 187, 0.15) 0%, rgba(201, 32, 184, 0) 50%), linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.15) 100%);
  background-color: #000;
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 30% 98%, 0px 100%);
  padding-bottom: 80px;
  }
  .contact .sectionHeader{
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
  }
  .contactForm{
    width: 95%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: rgba(17, 25, 40, 0.83);
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 32px;
    border-radius: 12px;
    box-shadow: rgba(23, 92, 230, 0.1) 0px 4px 24px;
    margin-top: 28px;
    gap: 12px;
  }
  .contact h3{
    font-size: 28px;
    margin-bottom: 6px;
    font-weight: 600;
    color: rgb(242, 243, 244);
  }
  .contactForm input,.contactForm textarea{
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(177, 178, 179, 0.314);
    padding: 12px 16px;
    color: rgb(242, 243, 244);
    border-radius: 12px;
    font-size: 18px;
  }
  .contactForm button{
    width: 100%;
    text-decoration: none;
    text-align: center;
    background: -webkit-linear-gradient(225deg, rgb(132, 0, 255) 0%, rgb(230, 0, 255) 100%);
    padding: 13px 16px;
    margin-top: 2px;
    border-radius: 12px;
    border: none;
    color: rgb(242, 243, 244);
    font-size: 18px;
    font-weight: 600;
}
form .error{
    color: red;
}
.contact a{
  color: white;
  text-decoration: none;
}
  